
<% if(locals.totalNumbers){ %>
    <h1>YOU HAVE <%= totalNumbers %> LETTERS IN YOUR NAME</h1>
<% } else { %>
    <h1>PLEASE ENTER YOUR NAME</h1>
<% } %>

    <form action="/submit" method="POST">
        <label for="fname">First Name</label>
        <input type="text" name="fname">
        <label for="lname">Last Name</label>
        <input type="text" name="lname">
        <input type="submit" value="Submit">
    </form>


</body>
</html>